:root {
    --button: #FED2AA;
    --button-hover: #FFAD63;
    --text-input: #F8F8F8;
    --activeitem: #FFBF86;
    --bg-gradient-1: #F6D7A7;
    --bg-gradient-2: #F6EABE;
    --bg-gradient-3: #C8E3D4;
    --icon-button: #538484;
    --icon-button-hover: #234646;
    --dark: #484848;
    --darker: #202020;
    --light-text: #F8F8F8;
    --inactive-text: #9B9B9B;
    --newlist-bg: #F3F0D7;
    --button2: #CEE5D0;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#F6D7A7, #F6EABE, #C8E3D4);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: var(--darker);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header button i {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Finger Paint';
    font-size: 2.5rem;
    color: var(--darker);
    margin-bottom: 3rem;
}

i {
    color: var(--icon-button);
}

i:hover {
    color: var(--icon-button-hover);
}

#new-task-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.check {
    background-color: var(--text-input);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-top: 0.35rem;
    cursor: pointer;
}



input:checked::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--text-input);
    padding: 1rem;
    border-radius: 1rem;

    color: var(--darker);
    font-size: 1.25rem;
}

/* new task submit button */

#new-task-submit {
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--button2);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #538484 */

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}


main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.todo-list {
    padding: 1rem;
}

.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--darker);
    margin-bottom: 1rem;
}

#todo-list .todo-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--button-hover);
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
    align-items: center;
    color: #202020;
}

.todo-item .todo-content {
    flex: 1 1 0%;
    align-items: center;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
    align-content: baseline;
}



#tasks .todo-item .todo-content {
    color: var(--darker);
    font-size: 1.125rem;
    width: 100%;
    display: flex;
}

/* #tasks .todo-item .content .tasktext:not(:read-only) {
    color: var(--inactive-text);
} */

#tasks .todo-item .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.todo-item .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.todo-item .actions button:active {
    opacity: 0.5;
}

.todo-item .actions .edit {
    color: var(--icon-button);
}

.todo-item .actions .delete {
    color: #cc3314;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}

#todo-list .todo-item.done {
    background-color: #C8E3D4;
}

.checkmark {
    content: "\F272";
    position: absolute;
    justify-content: center;
    color: black;
}