<<<<<<< HEAD
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
   line-height: 1.4;
   min-height: 100vh;
   height: auto;
   background: linear-gradient(180deg, #F6D7A7 0%, #F6EABE 55.21%, #C8E3D4 100%);
   background-size: 100% 100%;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    margin-top: 0vh;
    margin-bottom: 0vh;
    overflow-y: auto;
    overflow-y:visible;
  }

  .app-title {
    font-family: 'Finger Paint', cursive;
    color: #202020;
    text-align: center;
    font-size: 80px;
  }

  
  .list-title {
    font-family: 'Finger Paint', cursive;
    color: #202020;
    text-align: center;
    font-size: 80px;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* mainpage */
 .form-color-selector{
  background: #F3F0D7;
 }
 /*  */
  .color-item{
    list-style: none;
  }

  .color-icon{
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    border: none;
  }
  .color-icon:checked{
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    border: 2px solid red;
  }
  #button-red{
    background-color: #ffb8b8;
  }
  #button-orange{
    background-color: #FBCA9E;
  }
  #button-yellow{
    background-color: #FDF0AD;
  }
  #button-green{
    background-color: #BDEEC5;
  }
  #button-lightblue{
    background-color: #A9FAFA;
  }
  #button-lila{
    background-color: #ADACEB;
  }
  #button-pink{
    background-color: #FFAFFC;
  }
/*  */

  .todo-list-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .task-input{
    height: 4em;
  }
  
  .todo-item {
    background-color: #FFBF86;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

  }


  .todo-item span {
    flex-grow: 1;
    font-size: 1.25em;
    /* margin-left: 1em; */
  }
  

  .done {
    background-color: #C8E3D4;
    /* opacity: 75%; */
  }

  .done span {
    text-decoration: line-through;
    color: #9B9B9B;
  }
  
  /* .done input[type="checkbox"] { 
    background-color: #007836; 
  } 
   */
  .trash-icon::before{
   color:  #538484;
   border: none;
  }
  .trash-icon::content{
    color:  #538484;
    border: none;
   }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  
  /* Add this below all the other styles */

.checklist-icon {
  margin-bottom: 20px;
}
=======
html,body {
    height:100%;
    min-height:100%;
    max-height:100%;
  }

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#F6D7A7, #F6EABE, #C8E3D4);
    background-repeat: no-repeat !important;
    background-size: cover !important;


  }
  
  @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
  h1 {
      font-family: 'Finger Paint', cursive;
      display: flex;
      justify-content: center;
      font-weight: 700;
      padding-top: 100px;
  }
  
  /* form {
    text-align: center;
    margin-top: 20px;
  } */
/*   
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 20%;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
  }
   */
  ul {

    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  /* li {
    background-color: #A9FAFA;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
  /* li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  } */
  footer {
    position: fixed;
    bottom: 0;
    left: 40%;
    display: inline;
    justify-content: center;
    font-weight: 600;
    font-style: oblique;
    font-family: 'Finger Paint', cursive;
}

.btn-group-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  padding-top: 45px;
  margin-left: 600px;
}
/* .done {
  text-decoration: line-through;
} */

/* #todo-list {
  width: 50%;

  
} */

.btn1 {
width: 300px;
height: 50px;
color: black;
background-color: #FDF0AD !important;
margin-bottom: 10px;
border-radius: 10px;
font-family: 'Finger Paint', cursive;
font-size: medium;
font-weight: 700;
font-style: oblique;
}

.btn2 {
  width: 300px;
  height: 50px;
  color: black;
  background-color: #BDEEC5;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Finger Paint', cursive;
  font-size: medium;
  font-weight: 700;
  font-style: oblique;
}

.btn3 {
  width: 300px;
  height: 50px;
  color: black;
  background-color: #A9FAFA;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Finger Paint', cursive;
  font-size: medium;
  font-weight: 700;
  font-style: oblique;
}
.btn4 {
  width: 300px;
  height: 50px;
  color: black;
  background-color: #ADACEB;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Finger Paint', cursive;
  font-size: medium;
  font-weight: 700;
  font-style: oblique;
}

/* .open {
  background-color: yellowgreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-style: normal;
  font-size: small;
} */
>>>>>>> f26f5bd5889af657d19d4b17603e4ceb7f45884f
